.vm-mouse-glow{

    position:fixed;

    width:350px;

    height:350px;

    border-radius:50%;

    pointer-events:none;

    transform:translate(-50%,-50%);

    background:
    radial-gradient(
        circle,
        rgba(108,99,255,.22),
        rgba(0,229,255,.12),
        transparent 70%
    );

    filter:blur(45px);

    z-index:-1;

    transition:
    left .08s linear,
    top .08s linear;

}